body {
    color: rgb(55, 33, 151);
}

header {
    margin: auto;
    width: 400px;
    text-align: center;
}

header .h1 {
    text-shadow: 2px 2px 5px grey;
}

.table {
    border: 1px solid black;
    margin: auto;
}

.cell {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.open {
    background-color: rgb(223, 223, 223);
}

.blue {
    color: rgb(0, 0, 116);
}

.red {
    color: rgb(90, 0, 0);
}

.green {
    color: rgb(8, 46, 8);
}

.safe {
    background-color: rgba(66, 88, 109, 0.4);
}

.safe-click {
    cursor: pointer;
}

.safe-click:hover {
    text-decoration: underline;
}

.levels span {
    cursor: pointer;
}

.levels span:hover {
    font-weight: bold;
}

.manual {
    cursor: pointer;
}

.manual:hover {
    font-weight: bold;
}

.manual-use {
    display: none;
    color: black;
    background-color: red;
    font-size: large;
}

.mine {
    background-color: red;
}

.smiley {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.hint {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.hint:hover {
    width: 30px;
    height: 30px;
}

.reset-game {
    display: none;
    margin: auto;
    width: 100px;
}

.best-score-box {
    text-align: center;
}